*{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif; 
}

/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a{
    text-decoration: none;
    font-style: none;
    color: white;
}

h1{
    font-size: 90px;
}

h2{
    font-size: 26px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    position: relative;
    z-index: 2;
}

/*ESTILOS DEL HEADER*/
body{
    background-color: none;
}

header{
    height: 100px;
    margin: 0 auto;
    width: 1100vw;
    max-width: 1200px;
    padding: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header .banner{
    width: 100%;
    background-size: contain;
      
}


nav{
    position: relative;
    background-color: black;
    height: 50px;
    padding: 30px;
   
    
}
nav li{
    color: white;
    list-style: none;
    padding: 0;
    margin-right: 120px;
    margin-left: 120px;
    font-weight: bold;
     
}

ul{
    display: inline-flex;
    padding: 10px;
    margin: 5px;
    
}

content{ 
    margin: 0 auto;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

content .background_img{
    width: 1200px;
    height: 700px;   
}


footer{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    height: 108px;
    width: 1300px;
    margin: 0 auto;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
